<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="true">
    <target xsi:type="File" name="debug" fileName="${basedir}/logs/${shortdate}_debug.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message}" maxArchiveFiles="7" />
    <target xsi:type="File" name="info" fileName="${basedir}/logs/${shortdate}_info.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message}" maxArchiveFiles="7" />
    <target xsi:type="File" name="error" fileName="${basedir}/logs/${shortdate}_error.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" maxArchiveFiles="14" />
    <target xsi:type="File" name="all" fileName="${basedir}/logs/${shortdate}_all.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message}" maxArchiveFiles="3" />
    <target xsi:type="File" name="tasks" fileName="${basedir}/logs/${shortdate}_tasks.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message}" maxArchiveFiles="3" />
    <target xsi:type="File" name="data" fileName="${basedir}/logs/${shortdate}_data.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message}" maxArchiveFiles="3" />
    <target xsi:type="Console" name="console" layout="${longdate}|${uppercase:${level}}|${logger}|${aspnet-user-identity}|${message} ${exception:format=tostring}" error="true" detectConsoleAvailable="true" />
  </targets>
  
  <rules>
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="data" />
    
    <!--Write microsoft logs only to all.log-->
    <logger name="Microsoft.*" minlevel="Information" writeTo="all" final="true" />

    <logger name="SimpleX.Domain.Tasks.*" minlevel="Trace" writeTo="tasks" final="true" />

    <!--Write all to console-->
    <logger name="SimpleX.*" minlevel="Information" writeTo="console" />

    <!--Write trace & debug logs only to debug.log-->
    <logger name="*" levels="Debug" writeTo="debug" final="true" />

    <!--Write info or higher to info.log-->
    <logger name="*" minlevel="Info" writeTo="info"/>

    <!--Write error or higher to error.log-->
    <logger name="*" minlevel="Error" writeTo="error"/>
  </rules>
</nlog>